EMAIL_USER=your_email@qq.com
EMAIL_PASS=your_smtp_auth_code
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_PASSWORD=your_mysql_password
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password